.my-input-button:hover {
    cursor: pointer;
}

.my-input-button {
    outline: none;
    background-color: transparent;
    border: none;
    margin-left: -36px;
}

.my-input-icon {
    vertical-align: middle;
}

.my-input { 
    border-radius: 50%;
    border: 1px solid lightgray;
    width: 50px;
    height: 50px;
    z-index: -10;
    box-shadow: 1px 1px 2px 1px lightblue;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
}

.my-input:hover {
    animation: commute 1s;
    -moz-animation: commute 1s; /* Firefox */
    -webkit-animation: commute 1s; /* Safari and Chrome */
    -o-animation: commute 1s; /* Opera */
}

.my-input:focus {
    animation: unfold 0.5s;
    -moz-animation: unfold 0.5s; /* Firefox */
    -webkit-animation: unfold 0.5s; /* Safari and Chrome */
    -o-animation: unfold 0.5s; /* Opera */

    border-radius: 40px;
    width: 500px;
    z-index: 10;
}

@keyframes commute
{
    0% {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
    50% {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
    100% {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
}

@-moz-keyframes commute /* Firefox */
{
    0% {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
    50% {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
    100% {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
}

@-webkit-keyframes commute /* Safari and Chrome */
{
    0% {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
    50% {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
    100% {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
}

@-o-keyframes commute /* Opera */
{
    0% {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
    50% {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
    100% {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
}

@keyframes unfold
{
    from {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
    to {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
}

@-moz-keyframes unfold /* Firefox */
{
    from {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
    to {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
}

@-webkit-keyframes unfold /* Safari and Chrome */
{
    from {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
    to {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
}

@-o-keyframes unfold /* Opera */
{
    from {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
    to {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
}

@keyframes fold
{
    from {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
    to {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
}

@-moz-keyframes fold /* Firefox */
{
    from {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
    to {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
}

@-webkit-keyframes fold /* Safari and Chrome */
{
    from {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
    to {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
}

@-o-keyframes fold /* Opera */
{
    from {
        border-radius: 40px;
        width: 500px;
        z-index: 10;
    }
    to {
        border-radius: 50%;
        width: 50px;
        z-index: -10;
    }
}
