{
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 4,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "no-console": false,
  "endOfLine": "auto"
}
