* {
    margin: 0;
    padding: 0;
}

html,body,.layout-container {
    width: 100%;
    height: 100%;
}

.layout-container {
    position: absolute;
}

.layout-header {
    position: fixed;
    margin: 0 auto;
    width: 73%;
    left: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.layout-aside {
    position: fixed;
    height: 100%;
    min-width: 100px;
    max-width: 300px;
    width: 25%;
    background-color: black;
    box-shadow: 1px 1px 1px 1px lightgray;
    opacity: 0.9;
    padding: 50px 10px;
    box-sizing: border-box;
    z-index: -1;
    color: #82529d;
    display: flex;
    justify-content: center;
}

.layout-top, .layout-bottom {
    background-color: white;
    position: relative;
    left: 25%;
    width: 73%;
    min-height: 400px;
    margin: 8px;
    padding: 50px;
    border: 1px solid lightgray;
    border-radius: 60px;
    box-shadow: 1px 1px 1px 1px #dee8f0;
    overflow: hidden;
}
