.my-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(0deg,
    rgb(47, 102, 255),
    rgb(153, 64, 255) 30%,
    rgb(238, 55, 255) 60%,
    rgb(255, 0, 76) 100%);
    animation: rotate 1s linear infinite;
}

.my-loading::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(0deg,
    rgb(47, 102, 255),
    rgb(153, 64, 255) 30%,
    rgb(238, 55, 255) 60%,
    rgb(255, 0, 76) 100%);
    filter: blur(35px);
}

.my-loading::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate /* Firefox */
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate /* Safari and Chrome */
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes rotate /* Opera */
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
