.my-table-container {
    width: 100%;
    height: 100%;
}

.my-table-display-data, .my-table-pagination {
    margin: 0 auto;
}

.my-table-display-data {
    color: rgb(53, 63, 82);
    text-transform: none;
    font-style: normal;
}

.my-table-display-data-tbody {
    font-weight: 500;
    font-size: 14px;
}

.my-table-empty {
    color:rgb(223, 227, 235);
}

.my-table-pagination {
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    padding: 0;
}

.my-table-row-key {
    color: rgb(103, 113, 133);
}

.buttons {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    color: rgb(152, 161, 178);
    padding: 0;
}

.buttons:active {
    box-shadow: 1px 1px 1px 1px #e0e0e088;
}

.buttons:hover {
    background: rgb(223, 227, 235);
}

.my-table-pagination-input {
    width: 50px;
    height: 32px;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    color: rgb(152, 161, 178);
    text-align: center;
}

.my-table-pagination-input::-webkit-outer-spin-button, .my-table-pagination-input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

::-webkit-input-placeholder {
    color: #d4d4d4;
    text-align: center;
}

:-moz-placeholder {
    color: #d4d4d4;
    text-align: center
}

::-moz-placeholder {
    color: #d4d4d4;
    text-align: center
}

:-ms-placeholder {
    color: #d4d4d4;
    text-align: center
}

